ipykernel
requests
pandas
scrapy
scrapy-playwright
beautifulsoup4
extruct
aiohttp
google-generativeai
langchain
langchain-google-genai
selenium
webdriver-manager
selenium-stealth
fuzzywuzzy
duckduckgo-search
ddgs
ipywidgets
thefuzz[speedup]
playwright
playwright-stealth
nest_asyncio
tqdm
crawl4ai
openpyxl
phonenumbers
openai
langchain_openai
langchain-scraperapi
langchain_community
serpapi
google-search-results
apify_client
python-Levenshtein
google-genai
matplotlib
numpy
urllib3
pyarrow
fastparquet
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
